.profile {
  display: flex;
}

.profile__edit-btn {
  border: none;
  margin-top: 24px;
  margin-bottom: 8px;
  top: 199px;
  left: 40px;
  font-family: Cabinet Grotesk;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
}

.profile__logout-btn {
  border: none;

  top: 232px;
  left: 40px;
  font-family: Cabinet Grotesk;
  color: whitesmoke;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  background-color: transparent;
}
