.main {
  max-width: 100%;
  margin-left: 50px;
}

.main__header {
  color: whitesmoke;
  background-color: black;
  border-radius: 8px;
  padding: 10px;
  max-width: fit-content;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main__sounds-options {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 100px;
  border-radius: 8px;
  max-width: fit-content;
}

.sounds__options-img-name {
  height: 200px;
  border-radius: 8px;
  margin-top: 30px;
  max-width: 200px;
  border-style: double;
  border-color: whitesmoke;
}

.sounds__options-img-tag {
  height: 200px;
  border-radius: 8px;
  margin-top: 30px;
  width: 200px;
  border-style: double;
  border-color: whitesmoke;
}

.sounds__options-img-id {
  height: 200px;
  border-radius: 8px;
  margin-top: 30px;
  width: 200px;
  border-style: double;
  border-color: whitesmoke;
}

.sounds__btn {
  background-color: whitesmoke;
  color: black;
  width: 129px;
  height: 60px;
  border-radius: 100px;
  margin-top: 20px;
  border-style: none;
  /* margin-bottom: 20px; */
  gap: 10px;
  padding-top: 10px;

  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 627px) {
  .main {
    max-width: 100%;
    margin-left: 0;
  }

  .main__header {
    font-size: 20px;
  }
  .main__sounds-options {
    gap: 20px;
    flex-direction: column;
  }
  .sounds__options-img-name {
    height: 100px;

    max-width: 200px;
  }

  .sounds__options-img-tag {
    height: 100px;

    margin-top: 30px;
    width: 200px;
  }

  .sounds__options-img-id {
    height: 100px;

    width: 200px;
  }
}
