/* .soundcard__search-btn {
  width: 200px;
  height: 150px;
  border: none;
}

.soundcard__search-img {
  background-image: url(../../assets/addSoundBtn.avif);
  width: 200px;
  height: 150px;
  border-radius: 8px;
  background-repeat: no-repeat;
} */

.soundcard {
  width: 500px;
  /* height: 328px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__container {
  position: absolute;
  top: 10px;
  width: 257px;
  height: 30px;
  margin-right: 220px;
}

.card__name {
  margin: 0;
  max-width: fit-content;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  padding: 2px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__tags {
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card__username {
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.card__image {
  width: 100%;
  border-radius: 8px;
  border: solid;
  border-color: #0000004d;
  position: relative;
}

.card__audio-btn {
  border-radius: 8px;
  position: relative;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  border: none;
  width: 70px;
  height: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.card__like-btn {
  width: 18px;
  height: 15px;
  background-image: url("../../assets/cardLikeBtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url("../../assets/likeBtnLiked.svg");
}
